.clearfix{
    zoom:1;
}
.clearfix::after{
    content: "";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.container {
    margin-top: 100px;
    width: 900px;
}

.chat-wrap {
    box-shadow: 1px 3px 10px rgba(0, 0, 0, .3);
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 80%;
}

.content {
    height: 400px;
    overflow: auto;
    padding: 20px;
}

.content > div {
    min-height: 40px;
    line-height: 1.5;
    border-bottom: 1px dashed #ddd;
    padding: 8px 0;
}

.chat-input {
    padding: 10px;
    border-top: 1px solid #ddd;
}

.chat-input .text,
#username {
    width: 600px;
    padding: 7px;
    outline: none;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.login{
    width: 800px;
    padding: 100px;
    border-radius: 5px;
    box-shadow: 1px 3px 10px rgba(0, 0, 0, .3);
}
#username{width: 500px;}
.a-btn{
    padding: 6px 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #eee;
}
.user-details{
    color: #999;
    margin-bottom: 5px;
}
.time{
    font-size: 13px;
    margin-left: 5px;
}
.online-users{
    list-style: none;
    max-height: 450px;
    overflow: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    -webkit-padding-start: 0;
    width: 17%;
}
.online-users li{
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    text-align: center;
}
.online-users li:last-child{
    border-bottom: 0;
}
.online-users li:hover{
    background-color: #acf;
}
.exit{
    margin-bottom: 25px;
    text-align: right;
}